.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 23px 0;
  align-items: center;
}

.header__logo {
  margin-right: 16px;
}

.header__basket {
  margin-left: 16px;
}

.header__menu_desktop {
  display: flex;
  gap: 40px;
}

.header__menu_desktop a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
}

.header__menu_desktop a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1000px) {
  .header__menu_desktop {
    gap: 16px;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header__menu_desktop {
    display: none;
  }

  .header__logo {
    margin: 0;
  }

  .header__basket {
    margin: 0;
  }
}